In [6]:
#hide earrings 
import warnings
warnings.filterwarnings('ignore')

In [1]:
# EDA packages
import pandas as pd

In [4]:
#load data
df = pd.read_csv("C:\\Users\\matif\\OneDrive\\Documents\\DS\\Amazon_Unlocked_Mobile.csv")

In [7]:
#here i am droping all null values for forever 
df.dropna(inplace=True)

In [9]:
# the whole dataset is converted into lowercase()
df=df.apply(lambda x: x.astype(str).str.lower())

In [10]:
''' here i am importing the cleaning package and the package
    library is intended to solve the problems of
    1)Cleaning unstructured text data.
    2)Reducing noise in text.
    3)Avoid repetition of the same code for pre-processing.'''
import neattext as nfx

In [11]:
'''here i define function with two variables to get difference of previous and new columns
afterwards i cleaned all unwantEd thkings fROM data such as below '''
def get_clean_data_column (new_column_name , column_name ):
    df[new_column_name] = df[column_name].apply(nfx.remove_emojis)
    df[new_column_name] = df[new_column_name].apply(nfx.remove_numbers)
    df[new_column_name] = df[new_column_name].apply(nfx.remove_punctuations)
    df[new_column_name] = df[new_column_name].apply(nfx.remove_special_characters)
    df[new_column_name] = df[new_column_name].apply(nfx.remove_multiple_spaces)
    df[new_column_name] = df[new_column_name].apply(nfx.remove_stopwords)
    df[new_column_name] = df[new_column_name].apply(nfx.remove_urls)
    df[new_column_name] = df[new_column_name].apply(nfx.remove_visacard_addr)
    df[new_column_name] = df[new_column_name].apply(nfx.remove_terms_in_bracket)
    df[new_column_name] = df[new_column_name].apply(nfx.remove_street_address)
    df[new_column_name] = df[new_column_name].apply(nfx.remove_puncts)
    df[new_column_name] = df[new_column_name].apply(nfx.remove_postoffice_box)
    df[new_column_name] = df[new_column_name].apply(nfx.remove_phone_numbers)
    df[new_column_name] = df[new_column_name].apply(nfx.remove_html_tags)
    df[new_column_name] = df[new_column_name].apply(nfx.remove_currency_symbols)
    return df[new_column_name]

In [13]:
'''here i made a dictionary in which i gave the names of new and previous columns '''
dict_names ={'Product Id':'Product Name',
            'Review':'Reviews'}
#this the loop in dictionary 
for i ,j in dict_names.items():
    #here i m call my custom function to clean the dataset
    get_clean_data_column(i,j)

In [14]:
df[['Product Name','Product Id']]

,Product Name,Product Id
0,"""clear clean esn"" sprint epic 4g galaxy sph-d7...",clear clean esn sprint epic g galaxy sphdfront...
1,"""clear clean esn"" sprint epic 4g galaxy sph-d7...",clear clean esn sprint epic g galaxy sphdfront...
2,"""clear clean esn"" sprint epic 4g galaxy sph-d7...",clear clean esn sprint epic g galaxy sphdfront...
3,"""clear clean esn"" sprint epic 4g galaxy sph-d7...",clear clean esn sprint epic g galaxy sphdfront...
4,"""clear clean esn"" sprint epic 4g galaxy sph-d7...",clear clean esn sprint epic g galaxy sphdfront...
...,...,...
413835,samsung convoy u640 phone for verizon wireless...,samsung convoy u phone verizon wireless networ...
413836,samsung convoy u640 phone for verizon wireless...,samsung convoy u phone verizon wireless networ...
413837,samsung convoy u640 phone for verizon wireless...,samsung convoy u phone verizon wireless networ...
413838,samsung convoy u640 phone for verizon wireless...,samsung convoy u phone verizon wireless networ...
413839,samsung convoy u640 phone for verizon wireless...,samsung convoy u phone verizon wireless networ...

In [15]:
df[['Reviews','Review']]

,Reviews,Review
0,i feel so lucky to have found this used (phone...,feel lucky found phone hard phone line upgrade...
1,"nice phone, nice up grade from my pantach revu...",nice phone nice grade pantach revue clean set ...
2,very pleased,pleased
3,it works good but it goes slow sometimes but i...,works good goes slow good phone love
4,great phone to replace my lost phone. the only...,great phone replace lost phone thing volume bu...
...,...,...
413835,another great deal great price,great deal great price
413836,ok,ok
413837,passes every drop test onto porcelain tile!,passes drop test porcelain tile
413838,i returned it because it did not meet my needs...,returned meet needs good selection
413839,only downside is that apparently verizon no lo...,downside apparently verizon longer uses vcast ...

In [17]:
'''here i made a function to take all columns than remove
stopwords from that further convert them into list'''
def get_clean_list (new_column_name):
    clean_list = df[new_column_name].apply(nfx.remove_stopwords).tolist()
    return clean_list

In [20]:
list_of_Product_Id = get_clean_list('Product Id')

In [42]:
#list_of_Product_Id

In [24]:
list_of_Review = get_clean_list('Review')

In [41]:
#list_of_Review

# TOKENAZATION

In [28]:
#here i made a function for tokenazation in which each sentence is going to broken into single word
def get_token (function_name):
    tokens = [token for line in function_name for token in line.split()]
    return tokens

In [29]:
tokenazation_of_Product_Id = get_token(list_of_Product_Id)

In [39]:
#tokenazation_of_Product_Id

In [32]:
tokenazation_of_Review = get_token(list_of_Review)

In [40]:
#tokenazation_of_Review