In [25]:
'''To prepare the text data for the model building we perform text preprocessing.
    It is the very first step of NLP projects. Some of the preprocessing steps are:

    Removing punctuations like . , ! $( ) * % @
    Removing URLs
    Removing Stop words
    Lower casing
    Tokenization
    Stemming
    Lemmatizations '''

'To prepare the text data for the model building we perform text preprocessing.\n    It is the very first step of NLP projects. Some of the preprocessing steps are:\n\n    Removing punctuations like . , ! $( ) * % @\n    Removing URLs\n    Removing Stop words\n    Lower casing\n    Tokenization\n    Stemming\n    Lemmatizations '

In [26]:
# EDA pamages 
import pandas as pd

In [27]:
#hide earrings 
import warnings
warnings.filterwarnings('ignore')

In [28]:
#load data
df = pd.read_csv("C:\\Users\\haier\\Downloads\\Amazon_Unlocked_Mobile.csv\\Amazon_Unlocked_Mobile.csv")

In [29]:
df

,Product Name,Brand Name,Price,Rating,Reviews,Review Votes
0,"""CLEAR CLEAN ESN"" Sprint EPIC 4G Galaxy SPH-D7...",Samsung,199.99,5,I feel so LUCKY to have found this used (phone...,1.0
1,"""CLEAR CLEAN ESN"" Sprint EPIC 4G Galaxy SPH-D7...",Samsung,199.99,4,"nice phone, nice up grade from my pantach revu...",0.0
2,"""CLEAR CLEAN ESN"" Sprint EPIC 4G Galaxy SPH-D7...",Samsung,199.99,5,Very pleased,0.0
3,"""CLEAR CLEAN ESN"" Sprint EPIC 4G Galaxy SPH-D7...",Samsung,199.99,4,It works good but it goes slow sometimes but i...,0.0
4,"""CLEAR CLEAN ESN"" Sprint EPIC 4G Galaxy SPH-D7...",Samsung,199.99,4,Great phone to replace my lost phone. The only...,0.0
...,...,...,...,...,...,...
413835,Samsung Convoy U640 Phone for Verizon Wireless...,Samsung,79.95,5,another great deal great price,0.0
413836,Samsung Convoy U640 Phone for Verizon Wireless...,Samsung,79.95,3,Ok,0.0
413837,Samsung Convoy U640 Phone for Verizon Wireless...,Samsung,79.95,5,Passes every drop test onto porcelain tile!,0.0
413838,Samsung Convoy U640 Phone for Verizon Wireless...,Samsung,79.95,3,I returned it because it did not meet my needs...,0.0
413839,Samsung Convoy U640 Phone for Verizon Wireless...,Samsung,79.95,4,Only downside is that apparently Verizon no lo...,0.0

In [30]:
#here i am droping all null values for forever 
df.dropna(inplace=True)

In [31]:
# the whole dataset is converted into lowercase()
df=df.apply(lambda x: x.astype(str).str.lower())

In [32]:
''' here i am importing the cleaning package and the package
    library is intended to solve the problems of
    1)Cleaning unstructured text data.
    2)Reducing noise in text.
    3)Avoid repetition of the same code for pre-processing.'''
import neattext as nfx

In [33]:
'''here i define function with two variables to get difference of previous and new columns
afterwards i cleaned all unwantEd thkings fROM data such as below '''
def get_clean_data_column (new_column_name , column_name ):
    df[new_column_name] = df[column_name].apply(nfx.remove_emojis)
    df[new_column_name] = df[new_column_name].apply(nfx.remove_numbers)
    df[new_column_name] = df[new_column_name].apply(nfx.remove_punctuations)
    df[new_column_name] = df[new_column_name].apply(nfx.remove_special_characters)
    df[new_column_name] = df[new_column_name].apply(nfx.remove_multiple_spaces)
    df[new_column_name] = df[new_column_name].apply(nfx.remove_stopwords)
    df[new_column_name] = df[new_column_name].apply(nfx.remove_urls)
    df[new_column_name] = df[new_column_name].apply(nfx.remove_visacard_addr)
    df[new_column_name] = df[new_column_name].apply(nfx.remove_terms_in_bracket)
    df[new_column_name] = df[new_column_name].apply(nfx.remove_street_address)
    df[new_column_name] = df[new_column_name].apply(nfx.remove_puncts)
    df[new_column_name] = df[new_column_name].apply(nfx.remove_postoffice_box)
    df[new_column_name] = df[new_column_name].apply(nfx.remove_phone_numbers)
    df[new_column_name] = df[new_column_name].apply(nfx.remove_html_tags)
    df[new_column_name] = df[new_column_name].apply(nfx.remove_currency_symbols)
    return df[new_column_name]

In [34]:
'''here i made a dictionary in which i gave the names of new and previous columns '''
dict_names ={'Product Id':'Product Name',
             'Views':'Reviews'}
#this the loop in dictionary 
for i ,j in dict_names.items():
    #here i m call my custom function to clean the dataset
    get_clean_data_column(i,j)

In [35]:
'''here i got my cleaned data after some instructions'''
df[['Product Name','Product Id']].head()

,Product Name,Product Id
0,"""clear clean esn"" sprint epic 4g galaxy sph-d7...",clear clean esn sprint epic g galaxy sphdfront...
1,"""clear clean esn"" sprint epic 4g galaxy sph-d7...",clear clean esn sprint epic g galaxy sphdfront...
2,"""clear clean esn"" sprint epic 4g galaxy sph-d7...",clear clean esn sprint epic g galaxy sphdfront...
3,"""clear clean esn"" sprint epic 4g galaxy sph-d7...",clear clean esn sprint epic g galaxy sphdfront...
4,"""clear clean esn"" sprint epic 4g galaxy sph-d7...",clear clean esn sprint epic g galaxy sphdfront...

In [36]:
'''here i got my cleaned data after some instructions'''
df[['Reviews','Views']].head()

,Reviews,Views
0,i feel so lucky to have found this used (phone...,feel lucky found phone hard phone line upgrade...
1,"nice phone, nice up grade from my pantach revu...",nice phone nice grade pantach revue clean set ...
2,very pleased,pleased
3,it works good but it goes slow sometimes but i...,works good goes slow good phone love
4,great phone to replace my lost phone. the only...,great phone replace lost phone thing volume bu...

In [37]:
df.columns

Index(['Product Name', 'Brand Name', 'Price', 'Rating', 'Reviews',
       'Review Votes', 'Product Id', 'Views'],
      dtype='object')

In [39]:
new_df = df[['Product Id',
    'Brand Name',
    'Price',
    'Views',
    'Rating',
   'Review Votes']]

In [40]:
new_df.to_csv('text_data_preprocessed_Amazon_Unlocked_Mobile.csv')